body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Inter', sans-serif;
}

.addBookButton {
    font-family: 'Inter', sans-serif;
    background-color: cornflowerblue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 32px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.addBookButton:hover {
    transform: scale(1.05);
    background-color: rgb(105, 152, 240);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: max(50%, 700px);
}

th,
td {
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}

/* readButton removeButton */
.readButton, .removeButton {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 4px 20px;
    border-radius: 15px;
}

.readButton.read {
    background-color: greenyellow;
    color: black;
}

.readButton.unread {
    background-color: rgb(197, 47, 47);
    color: white;
}

.readButton:hover, .removeButton:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.removeButton {
    background-color: rgb(34, 31, 31);
    color: white;
}