body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Inter', sans-serif;
}

.addBookButton {
    font-family: 'Inter', sans-serif;
    background-color: cornflowerblue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 32px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.addBookButton:hover {
    transform: scale(1.05);
    background-color: rgb(105, 152, 240);
    cursor: pointer;
}